<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="monosms" type="Mono.Sms.Core.Cfg.MonoSmsSection, Mono.Sms" />
  </configSections> 

  <monosms>
    <settings>
      <add name="user.name" value="usuario" />
      <add name="user.email" value="usuario@monosms.com.ar" />
      <add name="smtp.server" value="mail.gigared.com"/>
    </settings>
  </monosms>

  <!-- 
  Configuración de los proveedores de mensajes inyectados a la aplicación con Windsor Container.
  -->
  <castle>
    <components>

      <component id="ProviderPersonalPost"
     service="Mono.Sms.Core.Provider.IProvider, Mono.Sms"
     type="Mono.Sms.Core.Provider.Personal2Provider, Mono.Sms"
     lyfestyle="singleton">
        <parameters>
          <Name>Personal</Name>
          <Domain>@personal-net.com.ar</Domain>
          <UseSmtp>false</UseSmtp>
          <HostName>200.43.139.39</HostName>
          <Port>80</Port>
          <NumberOfCharacters>138</NumberOfCharacters>
          <Description>
            Este proveedor permite la entrega de
            mensajes a un celular Personal
          </Description>
        </parameters>
      </component>
      
      
      <!--<component id="ProviderPersonalPost"
        service="Mono.Sms.Core.Provider.IProvider, Mono.Sms"
        type="Mono.Sms.Core.Provider.PersonalProvider, Mono.Sms"
        lyfestyle="singleton">

        <parameters>
          <Name>Personal</Name>
          <Domain>@personal-net.com.ar</Domain>
          <UseSmtp>false</UseSmtp>
          <HostName>host25.200-43-140.telecom.net.ar</HostName>
          <Port>80</Port>
          <NumberOfCharacters>138</NumberOfCharacters>
          <Description>
            Este proveedor permite la entrega de
            mensajes a un celular Personal
          </Description>
        </parameters>
      </component>-->

      <component id="ProviderPersonalMail"
      service="Mono.Sms.Core.Provider.IProvider, Mono.Sms"
      type="Mono.Sms.Core.Provider.PersonalProvider, Mono.Sms"
      lyfestyle="singleton">
        <parameters>
          <Name>Personal - por e-mail</Name>
          <Domain>@personal-net.com.ar</Domain>
          <UseSmtp>true</UseSmtp>
          <HostName>host25.200-43-139.telecom.net.ar</HostName>
          <Port>80</Port>
          <NumberOfCharacters>110</NumberOfCharacters>
          <Description>
            Este proveedor permite la entrega de mensajes
            a un celular Personal utilizando mails.
          </Description>
        </parameters>
      </component>

      <component id="ProviderCtiMail"
        service="Mono.Sms.Core.Provider.IProvider, Mono.Sms"
        type="Mono.Sms.Core.Provider.CtiProvider, Mono.Sms"
        lyfestyle="singleton">
        <parameters>
          <Name>Cti</Name>
          <Domain>@sms.ctimovil.com.ar</Domain>
          <UseSmtp>true</UseSmtp>
          <Port>80</Port>
          <NumberOfCharacters>110</NumberOfCharacters>
          <Description>
            Este proveedor permite la entrega de mensajes
            a un celular Cti utilizando mails.
          </Description>
        </parameters>
      </component>

      <component id="ProviderMovistarMail"
  service="Mono.Sms.Core.Provider.IProvider, Mono.Sms"
  type="Mono.Sms.Core.Provider.BaseProvider, Mono.Sms"
  lyfestyle="singleton">
        <parameters>
          <Name>Movistar</Name>
          <Domain>@sms.movistar.net.ar</Domain>
          <UseSmtp>true</UseSmtp>
          <Port>80</Port>
          <NumberOfCharacters>110</NumberOfCharacters>
          <Description>
            Este proveedor permite la entrega de mensajes
            a un celular Movistar utilizando mails.
          </Description>
        </parameters>
      </component>

      <component id="MailSender"
        type="Mono.Sms.Core.MailSender, Mono.Sms"
        service="Mono.Sms.Core.IMailSender, Mono.Sms"
        lyfestyle="singleton">
        <!--parameters>
          <SmtpServer>smtp.arnet.com.ar</SmtpServer>
          <From>contacto@alfa.com.ar</From>
        </parameters-->
      </component>

    </components>
  </castle>

</configuration>